<div>
    <h2 translate="cmpe295App.recHistory.home.title">RecHistorys</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="recHistory.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="cmpe295App.recHistory.home.createLabel">Create new RecHistory
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="cmpe295App.recHistory.foodName">FoodName</span></th>
                <th><span translate="cmpe295App.recHistory.brandName">BrandName</span></th>
                <th><span translate="cmpe295App.recHistory.timestamp">Timestamp</span></th>
                <th><span translate="cmpe295App.recHistory.user">user</span></th>
                <th><span>Rating</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recHistory in recHistorys track by recHistory.id">
                <td><a ui-sref="recHistory.detail({id:recHistory.id})">{{recHistory.id}}</a></td>
                <td>{{recHistory.foodName}}</td>
                <td>{{recHistory.brandName}}</td>
                <td>{{recHistory.timestamp | date:'medium'}}</td>
                <td>
                    {{recHistory.user.id}}
                </td>
                <td>
                    <!--{{rating}}-->
                    <span fundoo-rating rating-value="rating" max="5" on-rating-selected="saveRatingToServer(rating)"></span>
                    <button id="upBtn" ng-hide="btnRated" ng-click="updateRating(rating, {id:recHistory.id})">update</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
